*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  position: fixed;
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

.logo{
  font-family: sans-serif;
  width: 240px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li{
  list-style: none;
  display: inline;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
}

.navbar ul li a::after{
  content: '';
  height: 3px;
  width: 0%;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li a:hover::after{
  width: 100%;
}


.navbar ul li a:hover{
  color: red;
}

.banner{
  width: 100%;
  height: 530px;
  background-image: linear-gradient(rgba(110, 102, 102, 0.178), rgba(109, 102, 102, 0.178)), url(assets/logo.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner_content{
  width: 100%;
  position: absolute;
  transform: translateY(130%);
  text-align: center;
  color: white;
}

.banner_content h1{
  font-size: 70px;
  margin-top: 1px;
}

.banner_content p{
  font-weight: bold;
  font-size: 20px;
  padding-top: 30px;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gamebox{
  margin: 20px;
  width: 40%;
  height: 85%;
  background-color: black;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.gamebox h1{
  padding: 20px
}

.gamebox p{
  padding: 20px;
}

.gamebox button{
  width: 20%;
  height: 10%;
  padding: 20px;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid red;
  background: red;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.gamebox button a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
}

.teambox{
  margin: 20px;
  width: 40%;
  height: 85%;
  background-color: black;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.teambox h1{
  padding: 20px;
}

.teambox p{
  padding: 20px;
}

.teambox button{
  width: 20%;
  height: 10%;
  padding: 20px;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid red;
  background: red;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.teambox button a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
}

.line{
  margin: auto;
  width: 80%;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blogbox{
  margin: 20px;
  width: 40%;
  height: 85%;
  background-color: black;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.blogbox h1{
  padding: 20px
}

.blogbox p{
  padding: 20px;
}

.blogbox button{
  width: 20%;
  height: 10%;
  padding: 20px;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid red;
  background: red;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.blogbox button a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
}

.discbox{
  margin: 20px;
  width: 40%;
  height: 85%;
  background-color: black;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.discbox h1{
  padding: 20px
}

.discbox p{
  padding: 20px;
}

.discbox button{
  width: 20%;
  height: 10%;
  padding: 20px;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px solid red;
  background: red;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.discbox button a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
}







.footer{
  width: 100%;
  padding: 3% 0%;
  color: white;
  text-align: center;
  background-color: black;
}